@use './variables' as *;

@mixin buttonPlay ($color) {
  width: 100%;
  @include tgSize($text-4, 700);
  text-transform: uppercase;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $color;
}

@mixin tgSize($size , $weight ) {
  font-size: $size;
  font-weight: $weight;
}


@mixin shadow($color) {
  box-shadow: inset 0px -8px 2px 0px $color;
}

@mixin shadowTwo($color) {
  box-shadow: inset 0px -5px 0px 0px $color;
}
