
$white-color: #ffffff; 
$black-color: #000000;

$silver: #a8bfc9;
$silver300: #6b8997;
$grey200: #dbe8ed; 
$navyDarkB: #10212A; //10212a
$navyDark: #1a2a33;
$navySemiDark: #1f3641; 
$blueHover: #65e9e4;
$lightBlue: #31c3bd;
$lightBlueS: #118c87;
$yellow900: #cc8b13;
$yellow800: #e29d1d;
$yellow600: #f2b137;
$yellow400: #ffc860;

$text-1: 2.5rem; // 40px
$text-2: 1.5rem; //24px
$text-3: 1.25rem; // 20px
$text-4: 1rem; // 16px
$text-5: .875rem; // 14px


$space-3200: 20.438rem;//327px
$space-2300: 11.5rem; //184px
$space-2200: 11rem; // 176px
$space-2000: 10rem; // 160px
$space-1800: 9rem; // 144px
$space-1700: 8.5rem; // 128px
$space-1600: 8rem; // 128px
$space-1300: 6.5rem; // 104px
$space-1200: 6rem; // 96px
$space-1100: 5.5rem; // 88px
$space-1000: 5rem; // 80px
$space-900: 4.5rem; // 72px
$space-800: 4rem; // 64px
$space-700: 3.5rem; // 56px
$space-650: 3.125rem; // 50px
$space-600: 3rem; // 48px
$space-575: 2.75rem; //44px
$space-550: 2.625rem; // 42px
$space-500: 2.5rem; // 40px
$space-400: 2rem; // 32px
$space-350: 1.85rem; // 30px
$space-325: 1.75rem; // 28px
$space-300: 1.5rem; // 24px
$space-275: 1.25rem;//20px 
$space-250: 1.125rem;//18px 
$space-200: 1rem;  // 16px
$space-175: .9375rem;//15px 
$space-150: .75rem;//12px 
$space-125: .625rem;//12px 
$space-100: .5rem; // 8px
$space-50: .25rem; // 4px -- 
// 0.625rem = 10px
// 1.125rem = 18px
// 0.75rem = 12px
// 0.188rem  = 3PX
// 0.125rem  = 2px 
// 0.063rem  = 1PX
// 0.056rem  = 0.9px
// 0.044rem  = 0.7PX
// 0.031rem  = .5px -- 0.025-0.4px  -- .019-3px -- 0.013-2px -- 0.006-1px




