@use './reset';
@use './variables' as *;
@use './mixin' as *;
@use './font-face' as *;

@include fontFace('outfit', '../fonts/Outfit-VariableFont_wght.woff2', 100 900);

:root {
  --box-shadow: 
    7px 10px 8px 0px rgba(4, 15, 20, 0.71),
    inset -8px -10px 8px -7px rgba(16, 33, 42, 0.8),
    -7px 10px 8px 0px rgba(4, 15, 20, 0.81),
    inset 7px 5px 8px -4px rgba(16, 33, 42, 0.7);
  --btn-shad-cpu: 
    inset 0px -3px 8px 8px #e29d1d,
    4px 7px 6px 0px rgba(0, 0, 0, 0.5),
    -5px 1px 5px 0px rgba(0, 0, 0, 0.5);
  --btn-shad-play: 
    inset 0px -3px 12px 11px hsl(177, 70%, 28%), 
    4px 7px 6px 0px rgba(0, 0, 0, 0.5),
    -5px 1px 5px 0px rgba(0, 0, 0, 0.5);

}

body {
  background-color: $navyDark;
  font-family: outfit, Arial, Helvetica, sans-serif;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}

.wrappers__picks {
  inline-size:  clamp(20.438rem, 12.4865rem + 33.9265vw, 28.75rem);
  display: grid;
  justify-items: center;
  align-items: center;
  gap: $space-400;
  transition: all .3s ease;
}

.wrappers__mark {
  inline-size:  clamp(20.438rem, 12.4865rem + 33.9265vw, 28.75rem);
  background-color: $navySemiDark;
  border-radius: $space-175;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: $space-200;
  color: $silver;
  padding: $space-300;
  /* box-shadow: 0px 9px 7px 0px rgba(#10212A,1); */
  /* box-shadow: 2px 9px 5px 0px #10212A; */
  box-shadow: 7px 10px 8px 0px rgba(4,15,20,.71),inset -8px -10px 8px -7px rgba(16,33,42,.8),-7px 10px 8px 0px rgba(4,15,20,.81),inset 7px 5px 8px -4px rgba(16,33,42,.7);
}

.mark__title  {
  @include tgSize($text-4, 700);
  text-transform: uppercase;
}
.mark__description {
  @include tgSize($text-5, 500);
  text-transform: uppercase;
}

.mark__player {
  background-color: $navyDark;
  border-radius: $space-125;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $space-100;
}

.player__pick {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.player__box {
  inline-size: clamp(8.249rem, 4.3019rem + 16.8408vw, 12.375rem); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__XO {
  inline-size: clamp(8.249rem, 4.3019rem + 16.8408vw, 12.375rem); 
  display: flex;
  align-items: center;
  justify-content: center;  
  object-fit: contain;
  border-radius: $space-100;
  padding: .625rem;
  transition: opacity .5s ease, background .5s ease;
  & svg {
    inline-size: $space-400;
    block-size: $space-400;
  }
}

.player__radio:checked + .button__XO {
  background-color: $silver;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .3), -1px -1px 3px 1px rgba(0, 0, 0, .3),
              .3px .3px 3px 1px rgba(0, 0, 0, .3) inset, -.3px -.3px 3px 1px rgba(0, 0, 0, .3) inset;
  color: $navyDark;
}

.player__radio {
  opacity: 0;
  inline-size: 0;
  block-size: 0;
}

.wrappers__games {
  width: 100%;
  display: grid;  
  justify-items: center;
  align-items: center;
  gap: $space-300;

}

.games__cpu {
  width: 100%;
}

.button__cpu {
  @include buttonPlay($yellow400);
  box-shadow: var(--btn-shad-cpu);
}

.button__person {
  @include buttonPlay($blueHover);
  box-shadow: var(--btn-shad-play);
}

.wrappers__board {
  inline-size: clamp(20.5rem, 12.6078rem + 33.6735vw, 28.75rem);
  display: grid;
  justify-items: center;
  align-items: center;
  gap: $space-800;
  margin-block-start: -6.5rem; 
  opacity: 0;
}

/* .wrappers__picks,   */
.wrappers__board {
  opacity: 0;
  /* translate: 0 20vb;   */
  transition-property: display opacity;
  transition-duration: .5s;
  transition-behavior: allow-discrete;
  &:where(:not(.display__none)) {
    display: allow-discrete grid; 
    opacity: 1;
    /* translate: 0 0;  */
    @starting-style {
      opacity: 0;
      /* translate: 0 20vb;   */
    }
  }
}


.board__heads {
  inline-size: clamp(20.5rem, 12.6078rem + 33.6735vw, 28.75rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board__turn {
  inline-size: clamp(6rem, -777.4821rem + 3342.8571vw, 8.25rem);
  block-size: clamp(2.5rem, 1.7825rem + 3.0612vw, 3.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $navySemiDark;
  border-radius: $space-100;
  @include shadowTwo($navyDarkB);
  padding: $space-100;
  gap: $space-200;
}

.turn__icon--o svg,
.turn__icon--x svg {
  inline-size: clamp(1rem, 0.7608rem + 1.0204vw, 1.25rem); 
  block-size: clamp(1rem, 0.7608rem + 1.0204vw, 1.25rem);
  color: $silver;
  display: flex;
  align-items: center;
}

.turn__text {
  @include tgSize(clamp(0.875rem, 0.7554rem + 0.5102vw, 1rem), 700);
  text-transform: uppercase;
  color: $silver;
}

.board__restart {
  inline-size: clamp(2.5rem, 1.7825rem + 3.0612vw, 3.25rem);
  block-size: clamp(2.5rem, 1.7825rem + 3.0612vw, 3.25rem);
  background-color: $silver;
  @include shadowTwo($silver300);
  border-radius: $space-100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart__image {
  background-color: $silver;
  inline-size: clamp(0.961rem, 0.6845rem + 1.1796vw, 1.25rem);
  block-size: clamp(0.961rem, 0.6845rem + 1.1796vw, 1.25rem);
}

.wrappers__bodys {
  display: grid;
  gap: $space-275;
}

.wrappers__tictoc {
  display: grid;
  grid-template-columns: repeat(3,  clamp(6rem, 3.3693rem + 11.2245vw, 8.75rem));
  gap: $space-275;
}

.button__tictoc {
  inline-size: clamp(6rem, 3.3693rem + 11.2245vw, 8.75rem);
  block-size: clamp(6rem, 3.3693rem + 11.2245vw, 8.75rem);
  border-radius: $space-150;
  background-color: $navySemiDark;
  @include shadowTwo($navyDarkB);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4 ease;
}

.tictoc__image {
  inline-size: clamp(2.5rem, 1.0651rem + 6.1224vw, 4rem);
  block-size: clamp(2.5rem, 1.0651rem + 6.1224vw, 4rem);
}

.tictoc__image--x {
  color: $lightBlue;
}

.tictoc__image--o {
  color: $yellow600;
}

.tictoc__image--of {
  background-color: $yellow600;
  color: $navyDark;
}

.tictoc__image--xf {
  background-color: $lightBlue;
  color: $navyDark;
}

.button__tictoc--xf {
  background-color: $lightBlue;
  @include shadowTwo($lightBlueS);
  transition: all .4 ease;
}

.button__tictoc--of {
  background-color: $yellow600;
  @include shadowTwo($yellow900);
  transition: all .4 ease;
}

.tictoc__results {
  block-size: clamp(4rem, 3.5217rem + 2.0408vw, 4.5rem);
  display: grid;
  justify-items: center;
  align-items: center;  
}

.results__title {
  align-self: end;
  @include tgSize($text-5, 500);
  text-transform: uppercase;
  line-height: 1.5;
}

.results__number {
  align-self: start;
  @include tgSize(clamp(1.25rem, 1.0108rem + 1.0204vw, 1.5rem), 700);
  line-height: 1;
}

.tictoc__results--x {
  background-color: $lightBlue;
  border-radius: $space-175;
}

.tictoc__results--t {
  background-color: $silver;
  border-radius: $space-175;
}

.tictoc__results--o {
  background-color: $yellow600;
  border-radius: $space-175;
}

.wrappers__back {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  transition: opacity 1s ease;
}

.wrappers__takes {
  position: absolute;
  inset-block-start: 30%;
  background-color: $navySemiDark;
  inline-size: 100%;
  block-size: clamp(14.25rem, 11.978rem + 9.6939vw, 16.625rem);
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 50;
}

.wrappers__mess {
  position: absolute;
  inset-block-start: 15%;
  inline-size: clamp(17.5rem, 4.8839rem + 53.8286vw, 30.688rem); 
  block-size: clamp(8.75rem, 6.5976rem + 9.1837vw, 11rem);
  display: grid;
  justify-items: center;
  align-items: center;
  gap: $space-200;
  background-color: $navySemiDark;
  z-index: 50;
}

.mess__title {
  @include tgSize($text-5, 700);
  text-transform: uppercase;
  color: $silver;
}

.mess__round {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-100;
}

.round__image {
  inline-size: $space-350;
  block-size: $space-350;
}

.round__text {
  @include tgSize(clamp(1.5rem, 0.5434rem + 4.0816vw, 2.5rem), 700);
  text-transform: uppercase;
  color: $yellow600;
}

.wrappers__game {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: $space-300;
}

.round__text--tied {
  @include tgSize(clamp(1.5rem, 0.5434rem + 4.0816vw, 2.5rem), 700);
  line-height: 1;
  text-transform: uppercase;
  color: $silver;
}

.round__text--x {
  color: $lightBlue;
}

.buttons__round {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-200;
}

.button__quit {
  inline-size: 4.75rem;
  block-size: 3.25rem;
  background-color: $silver;
  @include shadowTwo($silver300);
  border-radius: $space-125;
  @include tgSize($text-4, 700);
  text-transform: uppercase;
}

.button__next {
  inline-size: 9.5rem;
  block-size: 3.25rem;
  background-color: $yellow600;
  @include shadowTwo($yellow900);
  border-radius: $space-125;
  @include tgSize($text-4, 700);
  text-transform: uppercase;
}

.button__cancel {
  inline-size: 8.688rem;
  block-size: 3.25rem;
  background-color: $yellow600;
  @include shadowTwo($yellow900);
  border-radius: $space-125;
  @include tgSize($text-4, 700);
  text-transform: uppercase;
}

.button__restart--game {
  inline-size: 9.438rem;
  block-size: 3.25rem;
  background-color: $silver;
  @include shadowTwo($silver300);
  border-radius: $space-125;
  @include tgSize($text-4, 700);
  text-transform: uppercase;
}

.display__none {
  display: none;
}

@media (min-width: 32em) {
  .wrappers__board {
    margin-block-start: 0;
  }   
}


.wrappers__takes,
.wrappers__mess,
.wrappers__game {
  opacity: 0;
  translate: 0 40vb;   
  transition-property: display opacity;
  transition-duration: .5s;
  transition-behavior: allow-discrete;

  &:where(:not(.display__none)) {
    display: allow-discrete grid; 
    opacity: 1;
    translate: 0 0;

    @starting-style {
      opacity: 0;
      translate: 0 40vb; 
    }
  }
}
